* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100%;
    overflow-x: hidden;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: white;
    font-size: 32px;
    display: inline-flex;
    background: transparent;
    cursor: pointer;
}

i {
    font-size: 25px;
    height: 55px;
    width: 55px;
    color: #C7594B;
}

nav .hamb {
    width: 35px;
    height: 35px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: #C7594B;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover {
    color: #C7594B;
    transition: .4s;
}

nav .nav-list li.btn a {
    display: inline-block;
    background: transparent;
    border: 2px solid #C7594B;
    padding: 9px 28px;
    border-radius: 30px;
    Line-height: 1.3;
    color: #C7594B;
    font-weight: 500;
}

nav .nav-list li.btn:hover a {
    background: #C7594B;
    color: white;
    border: 2px solid transparent;
    transition: .3s;
}

.container {
    padding-top: 100px;
}


.container .hero-text h1 {
    color: white;
    font-size: 47px;
    font-weight: 900;
    Line-height: 1.2;
    margin: 20px 0px 20px;
}

.container .hero-text h3 {
    color: white;
}

span {
    color: #C7594B;
}

h4{
    font-size: 30px;
    color: #868490;
}

h3{
    font-size: 55px;
    color: white;
    white-space:initial;
}

.mobileapp-text{
    margin-right: 20px;
}

.mobileapp-text p{
    width: 400px;
    font-weight: 400;
    font-size: 25px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mobileapp{
    justify-content: space-between;
    display: flex;
}

.revolut {
    width: 599px;
    height: 450px;
}

.website1-text p{
    text-align: right;
    width: 400px;
    font-weight: 400;
    font-size: 25px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.crypto{
    text-align: right;
    width: 599px;
    height: 450px;
}

.website2-text{
    margin-right: 20px;
}

.website2-text p{
    width: 400px;
    font-weight: 400;
    font-size: 25px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.nft {
    width: 599px;
    height: 450px;
}

.bottom {
    font-size: 13px;
    margin-top: 243px;
    padding-bottom: 40px;
    color: #eee;
    display: block;
    text-align: center;
    bottom: 0;
}

.bottom p {
    letter-spacing: 2px;
}

@media screen and (min-width: 966px){
    .website2{
        margin-top: 170px;
        justify-content: space-between;
        display: flex;
    }

    .website1{
        margin-top: 170px;
        text-align: right;
        justify-content: space-between;
        display: flex;
    }
}

@media screen and (max-width: 966px) {

    .container .hero-text h1{
        font-size: 34px;
    }

    nav .hamb {
        display: initial;
    }

    .click {
        top: 46px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click-span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(40deg);
        top: 0;
    }

    nav .nav-list {
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 60%;
        height: 50%;
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .nav-list li {
        display: block;
    }

    nav .nav-list li a {
        font-display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }

    nav .nav-list li.btn a {
        position: absolute;
        bottom: 0%;
        right: 20%;
        Left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }

    nav .nav-list.open {
        right: 0;
    }

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Background.jpg");
    }
    
    .hero-text h4{
        font-size: 25px;
    }

    .hero-text h3{
        font-size: 35px;
    }

    .hero-text p{
        font-size: 18px;
        display: block;
        align-items: center;
    }

    .mobileapp {
        margin-bottom: 10px;
        display: block;
    }

    .revolut{
        margin-top: 20px;
        width: 371px;
        height: 250px;
    }

    .website1 {
        display: flex;
        flex-direction: column;
    }

    .website1-text p{
        width: auto;
    }

    .crypto{
        order: 3;
        margin-top: 20px;
        width: 371px;
        height: 250px;
    }

    .website1{
        margin-bottom: 30px;
    }

    .website2 {
        display: block;
    }

    .nft{
        margin-top: 20px;
        width: 371px;
        height: 250px;
    }
    .bottom p{
        font-size: 13px;
    }

    .website1-text{
        text-align: right;
    }
}

.logo h1 a{
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
}